.App {
  text-align: center;
}

.Wrapper{
  display: flex;
  border: 10px solid rgb(27, 146, 96);
  /* padding: 25px; */


  
}
.DAyNumber{
  padding: 35px;
  margin-right: 25px;
  text-align: center;
  background-color: rgba(4, 119, 104, 0.582);
  font-size: 35px;
}
.itemName{
display: flex;
padding: 10px;

}